<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop"
	
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context-4.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-4.2.xsd 		
 		http://www.springframework.org/schema/aop
 		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
 		
 		">

	<context:annotation-config/>
	<aop:aspectj-autoproxy proxy-target-class="true"/>


	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:client.properties</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="systemPropertiesMode">
			<util:constant
				static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		</property>
	</bean>	

	<bean id="client" class="com.epam.beans.Client" p:greeting="${greeting}">
		<constructor-arg index="0" value="${id}" />
		<constructor-arg value="${name}" />
	</bean>
	
	<bean id="event" class="com.epam.beans.Event" scope="prototype">
		<constructor-arg>
			<bean class="java.util.Date"/>
		</constructor-arg>
		<constructor-arg>
			<bean  class="java.text.DateFormat" factory-method="getDateTimeInstance" />
		</constructor-arg>
	</bean>	

	<import resource="loggers.xml"/>
	
	<bean id = "stat" class="com.epam.aspects.StatisticsAspect">
	</bean>		
		
	<bean id="app" class="com.epam.spring.core.App">
		<constructor-arg ref="client" />
		
		
		<constructor-arg>
			<map>
				<entry key="INFO" value-ref="consoleEventLogger" />
				<entry key="ERROR" value-ref="combinedEventLogger" />
			</map>
		</constructor-arg>
		
		<property name="eventLogger"  value="#{T(com.epam.beans.Event).idDay() ? consoleEventLogger : fileEventLogger}" />
		<property name="sa" ref="stat" />
	
	</bean>
	

	
	<context:component-scan base-package="com.epam.*"/>
	

</beans>